@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.sortpayment{
    position: relative;
    border: 1px solid #80808041;
    width: 200px;
    max-width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-left: 25px;
   
}
.filterpayment{
    align-items: center;
    margin-left: 25px;
    
}
.filterbypayment{
    margin-right: 5px;
}
.paymentpdafontweight{
    margin-left: 8px;
}
.paymentcustomer{
    height:51px;
}
.customerpayment{
    font-size: 18px !important;
    font-weight: bold;
}
.paymentbycus{
    display: flex;
    align-items: center;
    margin-left: 15px;

}
.totalinvocie{
    font-weight: bold;
    margin-left: 10px;
    font-size: 13px;
}
.amountpayment{
    font-weight: bold;
    margin-left: 13px;
    color: rgb(109, 109, 109);
    margin-right: 20px;
    font-size: 13px;
}
.paymeamount{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top:10px ;

}
.paymentbtn{
    margin-left: 15px;
}
.statusspayment{
    height:38px;
    width:156px;
}

.payment-page .searchWrapper { 
    width: 300px;
    font-size: smaller;
 }
 
.voucheramount{
    display: flex;
    justify-content: end;
    margin-top: 10px;
    margin-bottom: 10px;
}
